@model PlaceCollection
@inject IPlaceCollectionAuthorization PlaceCollectionAuthorization
@{
    ViewData["Title"] = Model.Name + " - 昼飯ルーレット";
    ViewData["NoIndex"] = Model.Accessibility != PlaceCollectionAccessibility.Public;
}

<div class="ui container">
    <h1 class="ui dividing header">@Model.Name</h1>

    @if (await PlaceCollectionAuthorization.IsAdministrator(Model.Id, User))
    {
        <form id="delete-form" asp-action="Delete" asp-route-id="@Model.Id"></form>
        <button id="delete-btn" class="ui right floated negative button">削除</button>
        <div id="delete-modal" class="ui modal">
            <div class="header">削除</div>
            <div class="content">
                <p>このルーレットを削除します。この操作は元に戻せません。</p>
            </div>
            <div class="actions">
                <div class="ui cancel button">キャンセル</div>
                <div class="ui negative ok button">削除</div>
            </div>
        </div>
    }
    @if (await PlaceCollectionAuthorization.IsEditable(Model.Id, User))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id" class="ui right floated button">編集</a>
    }

    @if (Model.Accessibility != PlaceCollectionAccessibility.Public)
    {
        <p>
            <i class="lock icon yellow"></i>
            非公開
        </p>
    }
    <p>
        <img class="ui avatar image" src="@Model.Creator.ProfileImage" alt="@Model.Creator.ScreenName" />
        @Model.Creator.ScreenName
    </p>
    <p class="roulette-description">@Model.Description</p>

    @if (Model.Places.Count > 0)
    {
        <h3 class="ui horizontal divider header">ルーレット</h3>
        <div id="roulette-container">
            @* roulette.js から操作 *@
            <button class="ui primary loading button">まわれーまわれー(ﾟДﾟ)ﾉ</button>
        </div>
    }

    <h3 class="ui horizontal divider header">場所</h3>
    @if (Model.Places.Count > 0)
    {
        <div class="ui cards">
            @foreach (var place in Model.Places)
            {
                <div class="card">
                    <div class="content">
                        <a asp-controller="Places" asp-action="Details" asp-route-placeCollectionId="@Model.Id" asp-route-id="@place.Id"
                           class="header">@place.Name</a>
                        @if (!string.IsNullOrEmpty(place.Address))
                        {
                            <div class="meta">@place.Address</div>
                        }
                        else if (place.Latitude.HasValue && place.Longitude.HasValue)
                        {
                            <div class="meta">@(place.Latitude), @place.Longitude</div>
                        }
                        @if (place.TagAssociations.Count > 0)
                        {
                            <div class="description">
                                <div class="ui small tag labels">
                                    @foreach (var tagAssociation in place.TagAssociations)
                                    {
                                        <div class="ui label">@tagAssociation.Tag.Name</div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    }
    <p class="place-add-container">
        <a asp-controller="Places" asp-action="Create" asp-route-placeCollectionId="@Model.Id" class="ui positive button">
            <i class="add icon"></i>
            追加
        </a>
    </p>
</div>

@section Scripts {
    <script>
        var placeCollectionId = "@Model.Id";
        var rouletteDataUrl = "@Url.Action("RouletteData", new { Model.Id })";
    </script>
    <script src="https://unpkg.com/hyperapp"></script>
    <script src="~/roulette.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/components/dimmer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/components/modal.min.js"></script>
    <script src="~/delete.js"></script>
}
