@model EditPlaceViewModel

<div class="ui container">
    <div class="edit ui breadcrumb">
        <a class="section" asp-controller="PlaceCollections" asp-action="Details" asp-route-id="@Model.PlaceCollectionId">@Model.PlaceCollectionName</a>
        <i class="right angle icon divider"></i>
        @if (Model.ExistingName == null)
        {
            <div class="active section">場所を追加</div>
        }
        else
        {
            <a class="section" asp-action="Details" asp-route-id="@Model.Id" asp-route-placeCollectionId="@Model.PlaceCollectionId">@Model.ExistingName</a>
            <i class="right angle icon divider"></i>
            <div class="active section">編集</div>
        }
    </div>
    @await Html.PartialAsync("_ValidationErrorsPartial")
    <form asp-action="@ViewContext.RouteData.Values["Action"]" id="edit-place-form" class="ui form">
        <input asp-for="PlaceCollectionId" type="hidden" />
        <input id="tags-data" name="tags" type="hidden" value="@Model.GetTagsJson()" />
        <div class="field">
            <input asp-for="Name" placeholder="@Html.DisplayNameFor(model => model.Name)" />
        </div>
        <div class="field">
            <label>座標</label>
            <div class="two fields">
                <div class="field">
                    <input asp-for="Latitude" placeholder="緯度（省略可能）" />
                </div>
                <div class="field">
                    <input asp-for="Longitude" placeholder="経度（省略可能）" />
                </div>
            </div>
        </div>
        <div class="field">
            <label asp-for="Address"></label>
            <input asp-for="Address" placeholder="東京都足立区（省略可能）" />
        </div>
        <div id="tags-view">
            @* editplace.js から操作 *@
            <div class="ui active centered inline loader"></div>
        </div>
        <button class="ui submit primary button">@(Model.ExistingName == null ? "追加" : "更新")</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/hyperapp@1.2.10/dist/hyperapp.min.js"></script>
<script src="~/editplace.js"></script>
